h1, h2{
    font-weight: bold;

}

li{
    list-style: none;
}

a{
    text-decoration: none !important;
}

.slider-m{
    margin-top: 60px;
}




.maintitle {
    text-align: center;
    margin: 0 auto 80px;
    font-size: 38px;
    position: relative;
    line-height: 66px;
}


    .maintitle::after {
        content: '';
        background: #2A4775;
        width: 80px;
        height: 5px;
        border-radius: 5px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

.border-color{
    border: 0px !important;
}


.t-color{
    background: #0d2d62 !important;
    /* padding: 5px 9px; */
    /* min-width: 90px; */
    color: #f6f7f8 !important;
}

.t-color a{
    color: #f6f7f8 !important;
}

.social-icon ul li a{
    width: 100%;
    font-size: 32px;
    /* width: 50px; */
    /* padding: 10px; */
    margin: 10px;
    /* border: 1px solid red; */
    border-radius: 10%;
}

.sub-input{
    padding: 8px 10px;
    background: #fff;
    border: 1px solid #ced4da !important;
}

.sub-btn{
    padding: 8px 10px !important;
    border-radius: 0px !important;
    color: #fff !important;
    background-color: #b80924 !important;
    border-color: #b80924 !important;
}